<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/json application/javascript text/javascript text/css text/html application/manifest+json image/svg+xml
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(?:css|js|webmanifest|svg)$">
    Header set Cache-Control "public, max-age=0, must-revalidate"
  </FilesMatch>
  Header always set X-Content-Type-Options "nosniff"
</IfModule>
